body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000001;
}

.header-image {
    margin: 0 auto;
    display: flex;
    height: 35%;
    max-width: calc(35% - 90px);
    align-items: center;
    align-content: center;
    justify-content: center;
    line-height: 54px;
}

.header {
    text-align: center;
    position: relative;
}

.separator {
    position: absolute;
    bottom: 15;
    left: 5%;
    width: 85%;
    border-top: 1px solid black;
}

.title {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1,
h2 {
    color: #000001;
}

a {
    color: #000001;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header-logo {
    max-width: 35%;
    height: auto;
    margin-bottom: 20px;
}

.category-list {
    width: 80%; /* Adjusted to 80% of the horizontal space */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.category-list h2 {
    color: #000001;
}

.category-buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin: 15px; /* Spacing between buttons */
    background-color: #000001;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    width: auto; /* Buttons adjust to their content */
}

.category-buttons a:hover {
    background-color: #ffffff;
    color: #000001;
    border: 1px solid #000001;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px; /* Spacing between buttons */
    background-color: #000001;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    width: auto; /* Buttons adjust to their content */
}

.custom-button:hover {
    background-color: #000001;
}

.versus-container {
    text-align: center;
    margin-top: 20px;
}

.versus-container form {
    display: inline-block;
    text-align: center;
}

.versus-select {
    margin: 0 10px;
}

.versus-container select {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    padding: 10px;
}

.winner-result {
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
}

.athlete-table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
}

.athlete-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.category-image {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-image img {
    max-width: 50%;
    height: auto;
}

.top3-list {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

.top3-list li {
    margin: 10px 0;
}

.predict-title {
    text-align: center;
}
